:root {
    --dark-blue: #121725;
    --btn-blue: #2C344B;
    --body-txt: #C2CBE5;
    --icon-blue: #5A668A;
    --green: #54E6AF;
    --red: #FB3E3E;
    --white-txt: #FFFFFF;
}
/* || CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0em;
    font: initial;
    padding: 0px;
    border: none; 
    font-family: 'Kumbh Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
main {
    flex-grow: 1;
}

/* ||  GENERAL STYLES*/

body {
    font-family: 'Chivo', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--body-txt);
    background-color: var(--dark-blue);
    position: relative;
    box-sizing: border-box;
}
h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 62px;
    /* or 119% */
    text-transform: uppercase;
    color: var(--white-txt);
    text-align: center;
}

/* 	=====================
	    MOBILE 375px
    =====================
*/
@media(max-width:420px) {

.bg::after {
    content: url('./assets/mobile/image-host.jpg');
    position: absolute;
    top: -62px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
    z-index: -1;
}
body::after {
    background-color: var(--dark-blue);
}
main {
    max-width: 327px;
    margin: auto;
}
.logo {
    max-width: 135px;
    margin: auto;
    margin-top: 62px;
}
h1 {
    font-size: 26px;
    line-height: 38px;
    margin-top: 50px;
    margin-bottom: 18px;
}
span {
    color: var(--green);
}
p {
    color: var(--body-txt);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}
.podcasts {
    width: 315px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}
.spotify {
    width: 56px;
}
.apple {
    width: 45px;
}
.google {
    width: 73px;
}
.pocket {
    width: 77px;
}
input {
    width: 327px;
    height: 46px;
    border-radius: 28px;
    background-color: var(--btn-blue);
    border: none;
    color: var(--white-txt);
    font-weight: bold;
    box-sizing: border-box;
}
input[type="email"] {
    margin-top: 51px;
    margin-bottom: 16px;
    padding-left: 36px;
}
::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 28px;
    color: var(--white-txt);
    opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    padding-left: 36px;
    color: var(--white-txt);
    opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    line-height: 28px;
    padding-left: 36px;
    color: var(--white-txt);
    opacity: 0.5;
}
:-moz-placeholder {
    font-size: 14px;
    line-height: 28px;
    padding-left: 36px;
    color: var(--white-txt);
    opacity: 0.5;
}
input[type=submit] {
    background-color: var(--green);
    color: var(--dark-blue);
    font-weight: bold;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
}
input[type=submit]:hover {
    background-color: #B3FFE2;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
    cursor: pointer;
}
/* This is the style of our error messages */

.error {
    font-size: 12px;
    line-height: -14px;
    color: #FB3E3E;
    margin-left: 36px;
    position: absolute;
    margin-top: -22px;
}

.error.active {
  padding-top: 0px;
}

}

/* 	=====================
	    TABLET 768px
    =====================
*/
@media(min-width:420px) and (max-width: 1024px){
.bg::after {
    content: url('./assets/tablet/image-host.jpg');
    position: absolute;
    width: 491px;
    height: 767px;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0.9;
}
body::after {
    background-color: var(--dark-blue);
}
main {
    position: relative;
}

.wrapper {
    width: 635px;
    height: 509px;
    background-color: var(--dark-blue);
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 261px;
    margin-left: 39px;

}
.logo img{
    max-width: 135px;
    position: absolute;
    margin-top: 50px;
    margin-left: 39px;
}
h1 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 96px;
    margin-bottom: 25px;
    text-align: left;
}
span {
    color: var(--green);
}
p {
    width: 435px;
    color: var(--body-txt);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.bottom_wrap {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 39px;
}
.podcasts {
    width: 535px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 65px;
    opacity: 0.5;
}
.spotify {
    width: 96px;
}
.apple {
    width: 78px;
}
.google {
    width: 125px;
}
.pocket {
    width: 129px;
}
input {
    border-radius: 28px;
    background-color: var(--btn-blue);
    border: none;
    color: var(--white-txt);
    font-weight: bold;
    box-sizing: border-box;
}
form {
    width: 427px;
    position: relative;
}
input[type=submit] {
    width: 162px;
    height: 46px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: var(--green);
    color: var(--dark-blue);
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(84, 230, 175, 0.14);
}
input[type=submit]:hover {
    background-color: #B3FFE2;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
    cursor: pointer;
}
input[type="email"] {
    width: 427px;
    padding-left: 36px;
    height: 56px;
}
::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 28px;
    color: var(--white-txt);
    opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    padding-left: 36px;
    color: var(--white-txt);
    opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    line-height: 28px;
    padding-left: 36px;
    color: var(--white-txt);
    opacity: 0.5;
}
:-moz-placeholder {
    font-size: 14px;
    line-height: 28px;
    padding-left: 36px;
    color: var(--white-txt);
    opacity: 0.5;
}

/* This is the style of our error messages */

.error {
    font-size: 12px;
    line-height: -14px;
    color: #FB3E3E;
    margin-left: 36px;
    position: absolute;
    margin-top: 5px;
}
.error.active {
  padding-top: 0px;
}
.bg_dots:after {
    content: url(./assets/desktop/bg-pattern-dots.svg);
    position: absolute;
    left: 30px;
    top: 920px;
}

}

/* 	======================
	    DESKTOP 1441px
    ======================
*/
@media (min-width:1360px) {
.bg::before {
    content: url('./assets/desktop/image-host.jpg');
    position: absolute;
    width: 888px;
    height: 640px;
    top: 130px;
    right: 0;
    opacity: 0.9;
}

main {
    position: relative;
}

.wrapper {
    width: 723px;
    height: 509px;
    background-color: var(--dark-blue);
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 261px;
    margin-left: 165px;

}
.logo img{
    max-width: 135px;
    position: absolute;
    margin-top: 102px;
    margin-left: 165px;
}
h1 {
    font-size: 52px;
    line-height: 62px;
    margin-top: 88px;
    margin-bottom: 25px;
    text-align: left;
}
span {
    color: var(--green);
}
p {
    width: 435px;
    color: var(--body-txt);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.bottom_wrap {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 39px;
}
.podcasts {
    width: 535px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 65px;
}
.spotify {
    width: 96px;
}
.apple {
    width: 78px;
}
.google {
    width: 125px;
}
.pocket {
    width: 129px;
}
input {
    border-radius: 28px;
    background-color: var(--btn-blue);
    border: none;
    color: var(--white-txt);
    font-weight: bold;
    box-sizing: border-box;
}
form {
    width: 427px;
    position: relative;
}
input[type=submit] {
    width: 162px;
    height: 46px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: var(--green);
    color: var(--dark-blue);
    font-weight: bold;
    box-shadow: 0px 2px 4px rgba(84, 230, 175, 0.14);
}
input[type=submit]:hover {
    background-color: #B3FFE2;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
    cursor: pointer;
}
input[type="email"] {
    width: 427px;
    padding-left: 36px;
    height: 56px;
}
::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 28px;
    color: var(--white-txt);
    opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    padding-left: 36px;
    color: var(--white-txt);
    opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    line-height: 28px;
    padding-left: 36px;
    color: var(--white-txt);
    opacity: 0.5;
}
:-moz-placeholder {
    font-size: 14px;
    line-height: 28px;
    padding-left: 36px;
    color: var(--white-txt);
    opacity: 0.5;
}

/* This is the style of our error messages */

.error {
    font-size: 12px;
    line-height: -14px;
    color: #FB3E3E;
    margin-left: 36px;
    position: absolute;
    margin-top: 5px;
}
.error.active {
  padding-top: 0px;
  outline: 0;
}
button:active {
    outline: 0;
    outline-offset: .25rem;
    border: none;
}
.bg_dots:after {
    content: url(./assets/desktop/bg-pattern-dots.svg);
    position: absolute;
    right: 0;
    top: 718px;
}

}